
.content{
  display: grid;
  grid-template-areas:  "nav"
                        "img"
                        "h1"
                        "tekst"
                        "img1"
                        "h2"
                        "tekst2"
                        "img2"
                        "h3"
                        "tekst3"
                        "img3"
                        "h4"
                        "tekst4";
  grid-template-rows: 10vh 90vh 10vh 1fr 90vh 10vh 1fr 90vh 10vh 1fr 90vh 10vh 1fr;
  grid-gap: 20px;
  width: 100%;
  text-align: center;
  }

.tekst:target {
  padding-top: 90px;
  box-sizing: border-box;
  height: auto;
  width: 100%;
  display: block;

}

  #h1 {
    grid-area: h1;
  }

  #h2 {
    grid-area: h2;
  }

  #h3{
    grid-area: h3;
  }

  #h4{
    grid-area: h4;
  }

  #tekst {

    grid-area: tekst;
    height: 700px;
    display: inline-block;
    width: 100%;
  }

  #tekst2 {
    grid-area: tekst2;
    height: 700px;
    display: inline-block;
    width: 100%;
  }

  #tekst3 {
    grid-area: tekst3;
    height: 700px;
    display: inline-block;
    width: 100%;
  }

  #tekst4 {
    grid-area: tekst4;
    height: 700px;
    display: inline-block;
    width: 100%;
  }

  h1{
    grid-area: h1;
    margin-top: 10px;
    width: 100%;
    position: sticky;
  }

  ul li a {
    grid-area: ul;
    color: black;
    text-decoration: none;
    margin: 5px;
    border: 1px solid black;
    padding: 5px;
    position: sticky;
  }

  h2 {
    text-align: center;
    margin-top: 35px;
  }


  ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }


  h1 {
    text-align: center;
  }

  * {
    margin: 0px;
    padding: 0px
  }

  body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
  }

  #img {
    grid-area: img;
  }

  #img1 {
    grid-area: img1;
  }

  #img2 {
    grid-area: img2;
  }

  #img3 {
    grid-area: img3;
  }

  img {
    width: 100%;
    margin: 0 auto;
    display: block;
    height: 100%;
    position: relative;
  }
  div {
    width: 100%;
  }

  nav{
    width: 100%;
    grid-area: nav;
    background-color: white;
    overflow: hidden;
  }

  p {
    background-color: white;
    text-align: center;
  }

  html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }

#navbar {
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 500;
  margin: 0;
  padding: 0;
}

#navbar a {
  float: left;
  display: block;
  text-align: center;
  width: 100%;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #4CAF50;
  color: white;
}

@media screen and (min-width: 720px) {
  .content{
    display: grid;
    grid-template-areas:  "nav"
                          "img"
                          "tekst";
    grid-template-rows: 10vh 90vh 1fr;
    width: 100%;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {

    .content{
      display: grid;
      grid-template-areas:  "nav nav"
                            "h1 h1"
                            "img tekst"
                            "h2 h2"
                            "tekst2 img1"
                            "h3 h3"
                            "img2 tekst3"
                            "h4 h4"
                            "tekst4 img3";
      grid-template-rows: 10vh 10vh 2fr 10vh 2fr 10vh 2fr 10vh 2fr;
      grid-template-columns: 	1fr 1fr;
      width: 100%;
      text-align: center;
      }
    }
}
