
.content{
  display: grid;
  grid-template-areas:  "nav"
                        "img"
                        "kopje1"
                        "img1"
                        "kopje2"
                        "img2"
                        "kopje3"
                        "kopje4"
                        "badges";
  grid-template-rows: 10vh 90vh auto 90vh auto 90vh auto auto auto;
  grid-template-columns: auto;
  grid-gap: 20px;
  width: auto;
  text-align: center;
  }

   .tekst{
    box-sizing: border-box;
    height: auto;
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom:
  }



  #h2 {
    text-align: center;
    font-size: 15px;
    grid-area: h2;
  }

  #h3{
    text-align: center;
    font-size: 15px;
    grid-area: h3;
  }

  #h4{
    text-align: center;
    font-size: 15px;
    grid-area: h4;
  }

  #kopje1{
    box-sizing: border-box;
    width: auto;
    display: block;
    margin-bottom: 0px;
    text-align: center;
    grid-area: kopje1;

  }

  #kopje1:target {
    padding-top: 90px;
  }

  #kopje2 {
    grid-area: kopje2;
    box-sizing: border-box;
    width: 100%;
    display: block;
    margin-bottom: 0px;
    text-align: center;
  }

  #kopje2:target {
    padding-top: 90px;
  }

  #kopje3 {
    grid-area: kopje3;
    box-sizing: border-box;
    width: 100%;
    display: block;
    margin-bottom: 0px;
    text-align: center;
  }

  #kopje3:target {
    padding-top: 90px;
  }

  #kopje4 {
    grid-area: kopje4;
    box-sizing: border-box;
    width: 100%;
    display: block;
    margin-bottom: 0px;
    text-align: center;
  }

  #kopje4:target {
    padding-top: 90px;
  }

  h1{
    grid-area: h1;
    margin-top: 10px;
    width: 100%;
    position: sticky;
  }

  ul li a {
    grid-area: ul;
    color: black;
    text-decoration: none;
    margin: 5px;
    border: 1px solid black;
    padding: 5px;
    position: sticky;
  }

  h2 {
    text-align: center;
    margin-top: 35px;
  }


  ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }


  h1 {
    text-align: center;
  }

  * {
    margin: 0px;
    padding: 0px
  }

  #badges {
    grid-area:  badges;
    text-align: center;
  }

  #img {
    grid-area: img;
  }

  #img-1{
    grid-area: img-1;
  }

  #img-11 {
    grid-area: img-11;
  }

  #img1 {
    grid-area: img1;
  }

  #img1-1 {
    grid-area: img1-1;
  }
  #img1-11 {
    grid-area: img1-11;
  }

  #img2 {
    grid-area: img2;
  }

  #img2-2 {
    grid-area: img2-2;
  }

  #img2-22 {
    grid-area: img2-22;
  }

  #img3 {
    grid-area: img3;
  }

  body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
  }

  img {
    width: 100%;
    margin: 0 auto;
    display: block;
    height: 100%;
    position: relative;
  }
  div {
    width: 100%;
  }

  nav{
    width: 100%;
    grid-area: nav;
    background-color: white;
    overflow: hidden;
  }

  p {
    background-color: white;
    text-align: center;
  }

  html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }

#navbar {
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 500;
  margin: 0;
  padding: 0;
}

#navbar a {
  float: left;
  display: block;
  text-align: center;
  width: 100%;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #4CAF50;
  color: white;
}

@media screen and (min-width: 720px) {
  .content{
    display: grid;
    grid-template-areas:  "nav nav"
                          "img kopje1"
                          "kopje2 img1"
                          "img2 kopje3"
                          "kopje4 kopje4"
                          "badges badges";
    grid-template-rows: 10vh auto auto auto auto auto;
    grid-template-columns: 	auto auto;
    width: 100%;
    text-align: center;;
  }
}

@media screen and (min-width: 1024px) {

    .content{
      display: grid;
      grid-template-areas:  "nav nav nav"
                            "img img-1 img-11"
                            "kopje1 kopje1 kopje1"
                            "img1 img1-1 img1-11"
                            "kopje2 kopje2 kopje2"
                            "img2 img2-2 img2-22"
                            "kopje3 kopje3 kopje3"
                            "kopje4 kopje4 kopje4"
                            "badges badges badges";
      grid-template-rows: 10vh 90vh auto 90vh auto 90vh auto auto 1fr;
      grid-template-columns: 	1fr 1fr 1fr;
      width: 100%;
      text-align: center;
      height: auto;
      }
}
